@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/css/lato-font.min.css");

/* Make Lato the default everywhere */
@layer base {
  html { @apply font-sans; }
}
